[submodule "MotionPlanning/PathPlanning"]
	path = MotionPlanning/PathPlanning
	url = https://github.com/zhm-real/PathPlanning.git
[submodule "MotionPlanning/MotionModel/OdometryMotionModel/OdometryModelDemo"]
	path = MotionPlanning/MotionModel/OdometryMotionModel/OdometryModelDemo
	url = https://github.com/LOTEAT/OdometryModelDemo
[submodule "Localization/ExtendedKalmanFilter/EKF-Demo"]
	path = Localization/ExtendedKalmanFilter/EKF-Demo
	url = https://github.com/LOTEAT/EKF-Demo
[submodule "ComputerVision/2DObjectDetection/mmdetection"]
	path = ComputerVision/2DObjectDetection/mmdetection
	url = https://github.com/open-mmlab/mmdetection
[submodule "MotionPlanning/TrajectoryGeneration/MinimumSnap/MinimumSnapDemo"]
	path = MotionPlanning/TrajectoryGeneration/MinimumSnap/MinimumSnapDemo
	url = https://github.com/LOTEAT/MinimumSnap-Demo
[submodule "/Users/zenglezhu/code/PaperReading/Math/DubinsCurve/DubinsPath-Demo"]
	path = /Users/zenglezhu/code/PaperReading/Math/DubinsCurve/DubinsPath-Demo
	url = https://github.com/LOTEAT/DubinsPath-Demo
